.btn-readmore {
	display: inline-block;
	padding:0.3em 1em;

	background: $brand-info;
	border:1px solid #fff;
	color:#fff;

	text-transform: uppercase;

	&:hover, &.active {
		background: #fff;
		border:1px solid $brand-info;
		color:$brand-info;
		text-decoration: none;
	}
}

.filter-category-wrap {
  margin: 1em 0 2em;
  text-align: center;
}
.category-change {
  margin: 0 0 0.5em;
  @extend .btn-readmore;
}