//---------------------------
// Single post
//------------


.single {
	.featured-image {
		margin: 1em 0 0;
		height: 300px;
		background-repeat: no-repeat;
		background-size:cover;
		background-position: center center;
	}

	h1 {
		margin: 1em auto 0.45em;
	  	max-width: $screen-sm-min;
	}
  .entry-content {
	p {
	  max-width: $screen-sm-min;
	  margin-left:auto;
	  margin-right:auto;
	}
  }
}